.container {
    width: 80%;
    padding: 0;
}

.formArea {
    padding: 8px 24px;
    background-color: #F5F5F5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.col-form-label {
    font-weight: bold;
}

.togglePass {
    right: 20px;
}

.w20{
    width: 20%;
}

.w30{
    width: 30%;
}

.w60{
    width: 60%;
}

