<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mailnaxx.mapper.NoticesMapper">
    <select id="findAll" resultType="com.mailnaxx.entity.Notices">
        SELECT * FROM notices
        WHERE start_date &lt;= SYSDATE
        AND end_date &gt;= SYSDATE
    </select>
</mapper>