<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mailnaxx.mapper.UsersMapper">

    <select id="findLoginUser" resultType="com.mailnaxx.entity.Users">
        SELECT
           user_number
           ,user_name
           ,role_class
           ,password
           ,last_login_date
        FROM
           users
        WHERE
           user_number = #{userNumber}
    </select>

    <update id="loginFailure">
        UPDATE users SET
            failure_count = failure_count + 1
        WHERE user_number = #{user_number}
    </update>

    <update id="loginSuccess">
        UPDATE users SET
            last_login_date = CURRENT_TIMESTAMP,
            failure_count = 0
        WHERE user_number = #{user_number}
    </update>

    <select id="findAll" resultMap="userMap">
        SELECT
            u.user_number
            ,u.user_name
            ,u.hire_date
            ,a.affiliation_name
            ,u.role_class
            ,u.sales_flg
        FROM users u
        INNER JOIN affiliations a
            ON u.affiliation_id = a.affiliation_id
        WHERE
            u.deleted_flg = '0'
    </select>

    <select id="findBySearchForm" resultMap="userMap">
        SELECT
            u.user_number
            ,u.user_name
            ,u.hire_date
            ,a.affiliation_name
            ,u.role_class
            ,u.sales_flg
        FROM users u
        INNER JOIN affiliations a
            ON u.affiliation_id = a.affiliation_id
        WHERE
            u.deleted_flg = '0'
        <if test='userName != "" and searchCondition == "0"'>
            AND u.user_name LIKE #{userName} || '%'
        </if>
        <if test='userName != "" and searchCondition == "1"'>
            AND u.user_name LIKE '%' || #{userName} || '%'
        </if>
        <if test='roleClass != ""'>
            AND u.role_class = #{roleClass}
        </if>
    </select>

    <select id="findById" resultMap="userMap">
        SELECT
            u.user_number
            ,u.user_name
            ,u.user_name_kana
            ,u.hire_date
            ,a.affiliation_name
            ,u.role_class
            ,u.birth_date
            ,u.post_code
            ,u.address
            ,u.phone_number
            ,u.email_address
        FROM users u
        INNER JOIN affiliations a
            ON u.affiliation_id = a.affiliation_id
        WHERE
            user_id = #{userId}
    </select>

    <resultMap id="userMap" type="com.mailnaxx.entity.Users">
        <result property="user_number" column="user_number" />
        <result property="user_name" column="user_name" />
        <result property="user_name_kana" column="user_name_kana" />
        <result property="hire_date" column="hire_date" />
        <result property="role_class" column="role_class" />
        <result property="sales_flg" column="sales_flg" />
        <result property="birth_date" column="birth_date" />
        <result property="post_code" column="post_code" />
        <result property="address" column="address" />
        <result property="phone_number" column="phone_number" />
        <result property="email_address" column="email_address" />
        <association property="affiliation" resultMap="affiliationResult"/>
    </resultMap>

    <resultMap id="affiliationResult" type="com.mailnaxx.entity.Affiliations">
        <result property="affiliation_id" column="affiliation_id" />
        <result property="affiliation_name" column="affiliation_name" />
    </resultMap>

    <select id="findBySales" resultType="com.mailnaxx.entity.Users">
        SELECT * FROM users
        WHERE sales_flg = '1'
        AND deleted_flg = '0'
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="user_id">
        INSERT INTO users
        (
            user_number,
            user_name,
            user_name_kana,
            hire_date,
            affiliation_id,
            role_class,
            sales_flg,
            birth_date,
            post_code,
            address,
            phone_number,
            email_address,
            password,
            created_by,
            created_at
        )
        VALUES
        (
            #{user_number},
            #{user_name},
            #{user_name_kana},
            #{hire_date},
            #{affiliation_id},
            #{role_class},
            #{sales_flg},
            #{birth_date},
            #{post_code},
            #{address},
            #{phone_number},
            #{email_address},
            #{password},
            #{created_by},
            CURRENT_TIMESTAMP
        )
    </insert>

    <!-- 論理削除 -->
    <update id="delete">
        UPDATE users SET
            deleted_flg = '1'
        WHERE user_id = #{userId}
    </update>
</mapper>