<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('User List',~{::link},~{::script})">
<link rel="stylesheet" th:href="@{/css/user/list.css}" />
</head>
<body>
    <div th:replace="common :: header"></div>

    <div class="contents">
        <div class="container">
            <div class="searchArea mx-auto my-5">
                <div class="row mb-3 align-items-center">
                    <div class="col-md-2 text-md-end">
                        <label for="userName" class="col-form-label fw-bold">氏名</label>
                    </div>

                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="" name="userName" id="userName" />
                    </div>
                    <div class="col-md-4 d-flex justify-content-start align-items-start flex-md-column flex-lg-row">
                        <div class="form-check ms-3">
                            <input class="form-check-input" type="radio" name="searchCondition" id="prefixMatch" value="prefixMatch" checked>
                            <label class="form-check-label" for="prefixMatch">
                                前方一致
                            </label>
                        </div>
                        <div class="form-check ms-3">
                            <input class="form-check-input" type="radio" name="searchCondition" id="partialMatch" value="partialMatch">
                            <label class="form-check-label" for="partialMatch">
                                部分一致
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2 text-md-end">
                        <label for="roleClass" class="col-form-label fw-bold ms-1">権限区分</label>
                    </div>
                    <div class="col-md-6 d-flex align-items-md-center">
                        <select class="form-select" name="roleClass" id="roleClass">
                            <option th:each="roleClass : ${roleClassList}"
                                    th:value="${roleClass.value}"
                                    th:text="${roleClass.viewName}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btnMain">検索</button>
                </div>
            </div>

            <div class="listArea mx-auto">
                <form method="post" th:action="@{/delete}">
                    <div class="btn-toolbar justify-content-between" role="toolbar">
                        <div class="mb-4">
                            <button type="button" class="btn btnLight" onclick="location.href='/user/register'">新規登録</button>
                        </div>
                        <div class="mb-4" role="group">
                            <button type="button" class="btn btnAccent me-3">報告を見る</button>
                            <input type="submit" class="btn btnDark" value="削除">
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr class="border-bottom border-dark">
                                    <th scope="col"><!-- 選択 --></th>
                                    <th scope="col">社員番号</th>
                                    <th scope="col">氏名</th>
                                    <th scope="col">入社年月</th>
                                    <th scope="col">所属</th>
                                    <th scope="col">権限区分</th>
                                    <th scope="col"><!-- 営業 --></th>
                                </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="userList : ${userList}">
                                <!-- <tr th:href="@{'/user-detail/' + ${userList.user_id}}"> -->
                                <tr>
                                    <td>
                                        <div class="form-check d-flex justify-content-center align-items-center">
                                            <input class="form-check-input" type="checkbox" name="deleted_flg" value="1">
                                            <input type="hidden" name="user_id" th:value="${userList.user_id}">
                                        </div>
                                    </td>
                                    <td>
                                        <a th:href="@{'/user/detail/' + ${userList.user_id}}">
                                            <span th:text="${userList.user_number}"></span>
                                        </a>
                                    </td>
                                    <td th:text="${userList.user_name}"></td>
                                    <td th:text="${#strings.replace(userList.hire_date, '-', '/')}"></td>
                                    <td th:text="${userList.affiliation_id}"></td>
                                    <th:block th:each="roleClass : ${roleClassList}">
                                        <th:block th:if="${userList.role_class == roleClass.value}">
                                            <td th:text="${roleClass.viewName}"></td>
                                        </th:block>
                                    </th:block>
                                    <td th:text="${userList.sales_flg == '1'} ? '営業' : ' '"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="my-5">
                    <button type="button" class="btn btnBack" onclick="location.href='/top'">戻る</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common :: footer"></div>
</body>
</html>