<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('Register',~{::link},~{::script})">
<link rel="stylesheet" th:href="@{/css/users/register.css}" />
</head>
<body>
    <div th:replace="common :: header"></div>

    <div class="contents">
        <h3>社員登録</h3>
        <form method="post" th:action="@{/register}">
            <span>氏名（姓）<input type="text" name="userLastName" /></span>
            <span>氏名（名）<input type="text" name="userFirstName" /></span>
            <!-- <input type="date" name="hireDate" /> -->

            <span>所属
                <select>
                    <option th:each="affiliations : ${affiliationList}"
                            th:value="${affiliations.affiliationId}"
                            th:text="${affiliations.affiliationName}"
                            th:selected="${affiliations.affiliationId == selectedValue}">
                    </option>
                </select>
            </span>

            <span>権限区分
                <select>
                    <option th:each="roleClass : ${roleClassList}"
                            th:value="${roleClass.value}"
                            th:text="${roleClass.viewName}"
                            th:selected="${roleClass.value == selectedValue}">
                    </option>
                </select>
            </span>
            <!-- <input type="text" name="isSales" /> -->
            <!-- <input type="date" name="birthDate" /> -->
            <span>住所<input type="text" name="address" /></span>
            <span>電話番号<input type="text" name="phoneNumber" /></span>
            <span>メールアドレス<input type="text" name="emailAddress" /></span>
            <span>パスワード<input type="text" name="password" /></span>
            <input type="submit" value="登録" />
        </form>
    </div>

    <div th:replace="common :: footer"></div>
</body>
</html>