.contents {
    width: 100%; /* コンテンツの横幅を指定する */
    overflow: auto; /* コンテンツの表示を自動に設定（スクロール） */
    padding-top: 120px;
    padding-bottom: 10px;
    background-color: #dee2e6;
}

.searchArea {
    width: 60%;
    margin: 40px auto;
    padding: 30px 20px;
    background-color: #f8f9fa;
}

.btnSearch, .btnRegistration {
    padding: 10px 30px;
    box-sizing: border-box;
    border: 1px solid #333333;
    background-color: #a0d8ef;
    cursor: pointer;
}

.btnShowReport {
    padding: 10px 30px;
    box-sizing: border-box;
    border: 2px solid #2ca9e1;
    background-color: #f8f9fa;
    color: #2ca9e1;
    cursor: pointer;
}

.btnDelete {
    padding: 10px 30px;
    box-sizing: border-box;
    border: 2px solid #7C7E80;
    background-color: #7C7E80;
    color: #f8f9fa;
    cursor: pointer;
}

.btnBack {
    padding: 10px 30px;
    box-sizing: border-box;
    border: 1px solid #333333;
    background-color: #C6C9CC;
    cursor: pointer;
}

.listArea {
    width: 80%;
}

.tableArea {
    background-color: #f8f9fa;
}

.w60{
  width: 60%;
}

.menu {
    margin: 0;
    background-color: blue;

}

.text-white {
    color: #FFFFFF;
}

#sample {
    display: none;
}
