.contents {
    width: 100%; /* コンテンツの横幅を指定する */
    overflow: auto; /* コンテンツの表示を自動に設定（スクロール） */
    padding-top: 120px;
    padding-bottom: 80px;
    background-color: #dee2e6;
}

.noticeArea {
    width: 75%;
    margin: 40px auto;
}

.table {
    background-color: #f8f9fa;
    max-height: 200px;
}

.table td {
    padding: 10px 20px;
}

.menuArea {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.btnMenu {
    min-width: 200px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #333333;
    background-color: #a0d8ef;
    cursor: pointer;
}
