.noticeArea {
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
}

.table {
    background-color: #f8f9fa;
    max-height: 200px;
}

.table td {
    padding: 10px 20px;
}

.menuArea {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.btnMenu {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #333333;
    background-color: #a0d8ef;
    cursor: pointer;
}
.btnMenu:hover {
    background-color: #c0e2f0;
    color: #555555;
    border: 1px solid #555555;
}

/* レスポンシブ */
@media screen and (max-width: 992px) {
    .noticeArea, .menuArea {
        width: 90%;
    }
}
@media screen and (max-width: 576px) {
}
