.contents {
    width: 100%; /* コンテンツの横幅を指定する */
    overflow: auto; /* コンテンツの表示を自動に設定（スクロール） */
    padding-top: 120px;
    padding-bottom: 80px;
    background-color: #dee2e6;
}

.userInfoArea {
    width: 60%;
    margin: 40px auto;
    padding-top: 30px;
}

.table {
    background-color: #f8f9fa;
}

.table th {
    background-color: #7C7E80;
    color: #f8f9fa;
}

.table th, .table td {
    padding: 10px 20px;
}

.btn-toolbar {
    width: 60%;
    margin: 0 auto;
}

.btnUpdate {
    padding: 10px 30px;
    box-sizing: border-box;
    border: 1px solid #333333;
    background-color: #a0d8ef;
    cursor: pointer;
}

.btnShowReport {
    padding: 10px 30px;
    box-sizing: border-box;
    border: 2px solid #2ca9e1;
    background-color: #f8f9fa;
    color: #2ca9e1;
    cursor: pointer;
}

.btnBack {
    padding: 10px 30px;
    box-sizing: border-box;
    border: 1px solid #333333;
    background-color: #C6C9CC;
    cursor: pointer;
}