.container {
    margin: 40px auto;
}

.userInfoArea, .btn-toolbar {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.table {
    background-color: #f8f9fa;
}

.table th {
    width: 30%;
    background-color: #7C7E80;
    color: #f8f9fa;
}

.table th, .table td {
    padding: 10px 20px;
}

.btnUpdate {
    padding: 10px 30px;
    box-sizing: border-box;
    border: 1px solid #333333;
    background-color: #a0d8ef;
    cursor: pointer;
}
.btnUpdate:hover {
    background-color: #c0e2f0;
    color: #555555;
    border: 1px solid #555555;
}

.btnShowReport {
    padding: 8px 32px;
    box-sizing: border-box;
    background-color: #2ca9e1;
    color: #f8f9fa;
    cursor: pointer;
}
.btnShowReport:hover {
    background-color: #f8f9fa;
    color: #2ca9e1;
    border: 2px solid #2ca9e1;
}

.btnBack {
    padding: 10px 30px;
    box-sizing: border-box;
    border: 1px solid #333333;
    background-color: #C6C9CC;
    cursor: pointer;
}
.btnBack:hover{
    background-color: #C6C9CC;
    color: #555555;
    border: 1px solid #555555;
}

/* レスポンシブ */
@media screen and (max-width: 992px) {
    .table th {
        padding: 10px;
    }
}
@media screen and (max-width: 576px) {
    .userInfoArea, .btn-toolbar {
        width: 80%;
    }
    .table th, .table td {
        width: 100%;
        display: block;
    }
}