<!DOCTYPE html>
<!-- 認証済みか否か、権限があるか否かでHTML要素の表示/非表示を切り替えられる。ユーザー情報を画面に表示できる -->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: meta_header('Login',~{::link},~{::script})">
<link rel="stylesheet" th:href="@{/css/login.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script th:src="@{/js/common.js}"></script>
</head>
<body>
<form method="POST" th:action="@{/login}">
    <table>
        <tr>
            <td>
                ID：
            </td>
            <td>
                <input type="text" id="userId" name="userId"/>
            </td>
        </tr>
        <tr>
            <td>
                パスワード：
            </td>
            <td>
                <div class="passForm">
                    <input type="password" id="password" name="password" />
                    <i class="togglePass fa-regular fa-eye"></i>
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button type="submit">ログイン</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>