<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('TOP',~{::link},~{::script})">
<link rel="stylesheet" th:href="@{/css/top.css}" />
</head>
<body>
    <div th:replace="common :: header"></div>

    <div class="contents">
        <div class="container">
            <div class="noticeArea">
                <h5 class="ps-3">お知らせ</h5>
                <div class="overflow-auto">
                    <table class="table table-bordered">
                        <tr th:each="notice : ${noticeList}">
                            <td th:text="${notice.start_date}" class="w-25" />
                            <td th:text="${notice.notice_message}" />
                        </tr>
                    </table>
                </div>
            </div>

            <div class="menuArea">
                <div class="row">
                    <div class="col-4 p-1">
                        <button type="button" onclick="location.href='/user-list'" class="btn btnMenu w-100" value="btnUserList">社員一覧</button>
                    </div>
                    <div class="col-4 p-1">
                        <button type="button" class="btn btnMenu w-100" value="btnDailyReport">日次報告</button>
                    </div>
                    <div class="col-4 p-1">
                        <button type="button" class="btn btnMenu w-100" value="btnWeeklyReport">週次報告</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 p-1">
                        <button type="button" class="col btn btnMenu w-100" value="btnAttendanceReport">勤怠連絡</button>
                    </div>
                    <div class="col-4 p-1">
                        <button type="button" class="col btn btnMenu w-100" value="btnRoster">勤務表</button>
                    </div>
                    <div class="col-4 p-1">
                        <button type="button" class="col btn btnMenu w-100" value="btnAccountingReport">会計報告</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 p-1">
                        <button type="button" class="col btn btnMenu w-100" value="btnQuestionnaire">アンケート</button>
                    </div>
                    <div class="col-4 p-1">
                        <button type="button" class="col btn btnMenu w-100" value="btnVariousApplications">各種申請</button>
                    </div>
                    <div class="col-4 p-1">
                        <button type="button" class="col btn btnMenu w-100" value="btnVariousDownloads">各種ダウンロード</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 p-1 text-start">
                        <button type="button" class="col btn btnMenu w-100" value="btnMasterAdmin">マスタ管理</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common :: footer"></div>
</body>
</html>