<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('TOP',~{::link},~{::script})">
<link rel="stylesheet" th:href="@{/css/top.css}" />
</head>
<body>
    <div th:replace="common :: header"></div>

    <div class="contents">
        <div class="noticeArea">
            <h2 class="text-center">お知らせ</h2>
            <table class="table">
                <tr>
                    <th scope="col" class="w-25">掲載日</th>
                    <th scope="col">内容</th>
                </tr>
                <tr th:each="n : ${noticeList}">
                    <td th:text="${n.start_date}" />
                    <td th:text="${n.notice_message}" />
                </tr>
            </table>
        </div>

        <div class="container menuArea">
            <div class="row">
                <button type="button" onclick="location.href='/users'" class="col btn btnMenu" value="btnUsersList">社員一覧</button>
                <button type="button" class="col btn btnMenu" value="btnDailyReport">日次報告</button>
                <button type="button" class="col btn btnMenu" value="btnWeeklyReport">週次報告</button>
            </div>
            <div class="row">
                <button type="button" class="col btn btnMenu" value="btnAttendanceReport">勤怠連絡</button>
                <button type="button" class="col btn btnMenu" value="btnRoster">勤務表</button>
                <button type="button" class="col btn btnMenu" value="btnAccountingReport">会計報告</button>
            </div>
            <div class="row">
                <button type="button" class="col btn btnMenu" value="btnQuestionnaire">アンケート</button>
                <button type="button" class="col btn btnMenu" value="btnVariousApplications">各種申請</button>
                <button type="button" class="col btn btnMenu" value="btnVariousDownloads">各種ダウンロード</button>
            </div>
            <div class="row">
                <button type="button" class="col btn btnMenu" value="btnMasterAdmin">マスタ管理</button>
            </div>
        </div>
    </div>

    <div th:replace="common :: footer"></div>
</body>
</html>