<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('User Detail',~{::link},~{::script})">
<link rel="stylesheet" th:href="@{/css/user-detail.css}" />
</head>
<body>
    <div th:replace="common :: header"></div>

    <div class="contents">
        <div class="container">
            <div class="userInfoArea mt-5">
                <div th:object="${userInfo}">
                    <table class="table table-bordered">
                        <tr>
                            <th>社員番号</th>
                            <td th:text="*{user_number}"></td>
                        </tr>
                        <tr>
                            <th>氏名（漢字）</th>
                            <td th:text="*{user_name}"></td>
                        </tr>
                        <tr>
                            <th>氏名（カタカナ）</th>
                            <td th:text="*{user_name_kana}"></td>
                        </tr>
                        <tr>
                            <th>入社年月</th>
                            <td th:text="*{hire_date}"></td>
                        </tr>
                        <tr>
                            <th>所属</th>
                            <td th:text="*{affiliation_id}"></td>
                        </tr>
                        <tr>
                            <th>権限区分</th>
                            <td th:text="*{role_class}"></td>
                        </tr>
                        <tr>
                            <th>生年月日</th>
                            <td th:text="*{birth_date}"></td>
                        </tr>
                        <tr>
                            <th>郵便番号</th>
                            <td th:text="*{post_code}"></td>
                        </tr>
                        <tr>
                            <th>住所</th>
                            <td th:text="*{address}"></td>
                        </tr>
                        <tr>
                            <th>電話番号</th>
                            <td th:text="*{phone_number}"></td>
                        </tr>
                        <tr>
                            <th>メールアドレス</th>
                            <td th:text="*{email_address}"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="btn-toolbar justify-content-between mt-4 mb-5" role="toolbar">
                <div>
                    <button type="submit" class="btn btnMain m-1">編集する</button>
                    <button type="button" class="btn btnAccent m-1">報告を見る</button>
                </div>
                <div>
                    <button type="button" class="btn btnBack m-1" onclick="location.href='/user-list'">戻る</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common :: footer"></div>
</body>
</html>