<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('Register',~{::link},~{::script})">
<link rel="stylesheet" th:href="@{/css/user-register.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script th:src="@{/js/common.js}"></script>
</head>
<body>
    <div th:replace="common :: header"></div>

    <div class="contents">
        <div class="container">
            <div class="formArea">
                <div class="title text-center m-4">社員登録</div>

                <form method="POST" th:action="@{/user-register}" th:object="${usersForm}">
                    <div class="row mb-3">
                        <div class="col-12 col-md-3 text-md-end">
                            <label for="userName" class="col-form-label">氏名(漢字)
                                <span class="badge bg-dark ms-1">必須</span>
                            </label>
                        </div>
                        <div class="col-12 col-md-8 d-flex justify-content-md-center">
                            <input type="text" class="form-control" placeholder="姓" name="userLastName" id="userLastName" />
                            <input type="text" class="form-control ms-2" placeholder="名" name="userFirstName" id="userFirstName" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-3 text-md-end">
                            <label for="userNameKana" class="col-form-label">氏名(カタカナ)
                                <span class="badge bg-dark ms-1">必須</span>
                            </label>
                        </div>
                        <div class="col-12 col-md-8 d-flex justify-content-md-center">
                            <input type="text" class="form-control" placeholder="セイ" name="userLastKana" id="userLastKana" />
                            <input type="text" class="form-control ms-2" placeholder="メイ" name="userFirstKana" id="userFirstKana" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-3 text-md-end">
                            <label for="hireDate" class="col-form-label">入社年月
                                <span class="badge bg-dark ms-1">必須</span>
                            </label>
                        </div>
                        <div class="col-12 col-md-8 d-flex align-content-center">
                            <select class="form-select w30" name="hireYear" id="hireYear">
                                <option th:each="hireYear : ${#numbers.sequence(currentYear, currentYear + 1)}"
                                        th:value="${hireYear}"
                                        th:text="${hireYear}"
                                        th:selected="${hireYear == currentYear}">
                                </option>
                            </select>
                            <span class="p-2">年</span>
                            <select class="form-select w20" name="hireMonth" id="hireMonth">
                                <option th:each="hireMonth : ${#numbers.sequence(1, 12)}"
                                        th:value="${hireMonth}"
                                        th:text="${hireMonth}"
                                        th:selected="${hireMonth == currentMonth}">
                                </option>
                            </select>
                            <span class="p-2">月</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-3 text-md-end">
                            <label for="affiliationId" class="col-form-label">所属
                                <span class="badge bg-dark ms-1">必須</span>
                            </label>
                        </div>
                        <div class="col-12 col-md-8">
                            <select class="form-select w60" name="affiliationId" id="affiliationId">
                                <option>選択してください</option>
                                <option th:each="affiliation : ${affiliationList}"
                                        th:value="${affiliation.affiliation_id}"
                                        th:text="${affiliation.affiliation_name}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-3 text-md-end">
                            <label for="roleClass" class="col-form-label ms-1">権限区分
                                <span class="badge bg-dark">必須</span>
                            </label>
                        </div>
                        <div class="col-12 col-md-8 d-flex align-items-center">
                            <select class="form-select w60" name="roleClass" id="roleClass">
                                <option th:each="roleClass : ${roleClassList}"
                                        th:value="${roleClass.value}"
                                        th:text="${roleClass.viewName}">
                                </option>
                            </select>
                            <div class="form-check ms-4">
                                <input type="checkbox" class="form-check-input" th:field="*{salesFlg}" id="salesFlg" value="1" />
                                <label for="salesFlg" class="form-check-label">営業担当</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-3 text-md-end">
                            <label for="birthDay" class="col-form-label">生年月日
                                <span class="badge bg-dark ms-1">必須</span>
                            </label>
                        </div>
                        <div class="col-12 col-md-8 d-flex align-items-center">
                            <select class="form-select w30" name="birthYear" id="birthYear">
                                <option th:each="birthYear : ${#numbers.sequence(birthYearFrom, birthYearTo)}"
                                        th:value="${birthYear}"
                                        th:text="${birthYear}"
                                        th:selected="${birthYear == birthYearDefault}">
                                </option>
                            </select>
                            <span class="p-2">年</span>
                            <select class="form-select w20" name="birthMonth" id="birthMonth">
                                <option></option>
                                <option th:each="birthMonth : ${#numbers.sequence(1, 12)}"
                                        th:value="${birthMonth}"
                                        th:text="${birthMonth}">
                                </option>
                            </select>
                            <span class="p-2">月</span>
                            <select class="form-select w20" name="birthDay" id="birthDay">
                                <option></option>
                                <option th:each="birthDay : ${#numbers.sequence(1, 31)}"
                                        th:value="${birthDay}"
                                        th:text="${birthDay}">
                                </option>
                            </select>
                            <span class="p-2">日</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-3 text-md-end">
                            <label for="postCode" class="col-form-label">郵便番号
                                <span class="badge bg-dark ms-1">必須</span>
                            </label>
                        </div>
                        <div class="col-12 col-md-8 d-flex align-items-center">
                            <input type="text" class="form-control w20" placeholder="123" name="postCode1" id="postCode1" />
                            <span class="px-3">-</span>
                            <input type="text" class="form-control w30" placeholder="4567" name="postCode2" id="postCode2" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-3 text-md-end">
                            <label for="address" class="col-form-label">住所
                                <span class="badge bg-dark ms-1">必須</span>
                            </label>
                        </div>
                        <div class="col-12 col-md-8">
                            <textarea class="form-control" placeholder="東京都XX区YY1丁目23番地ZZマンション456号室" name="address" id="address"></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-3 text-md-end">
                            <label for="phoneNumber" class="col-form-label">電話番号
                                <span class="badge bg-dark ms-1">必須</span>
                            </label>
                        </div>
                        <div class="col-12 col-md-8 d-flex align-items-center">
                            <input type="text" class="form-control w30" name="phoneNumber1" id="phoneNumber1" />
                            <span class="px-3">-</span>
                            <input type="text" class="form-control w30" name="phoneNumber2" id="phoneNumber2" />
                            <span class="px-3">-</span>
                            <input type="text" class="form-control w30" name="phoneNumber3" id="phoneNumber3" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-3 text-md-end">
                            <label for="emailAddress" class="col-form-label">メールアドレス
                                <span class="badge bg-dark ms-1">必須</span>
                            </label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input type="text" class="form-control" placeholder="test@mailnaxx.com" name="emailAddress" id="emailAddress" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-3 text-md-end">
                            <label for="password" class="col-form-label">パスワード
                                <span class="badge bg-dark ms-1">必須</span>
                            </label>
                        </div>
                        <div class="col-12 col-md-8 passForm">
                            <input type="password" class="form-control" placeholder="8文字以上の半角英数字" name="password" id="password" />
                            <i class="togglePass fa-regular fa-eye"></i>
                        </div>
                    </div>

                    <div class="text-center m-4">
                        <button type="submit" class="btn btnRegistration">登録</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-auto">
                    <button type="button" class="btn btnBack" onclick="location.href='./user-list'">戻る</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common :: footer"></div>
</body>
</html>